<html lang="en">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/navbar') %>

        <h1>
            The Home Page <%= 4 + 5 + 1 %><%= 'hello world'.toUpperCase() %>
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
            laborum reprehenderit rem porro ad! Vitae tempore, nostrum
            praesentium odit aut est obcaecati totam. Recusandae cupiditate quos
            eaque, ab veritatis porro! Expedita tempore nostrum quam ea commodi,
            tenetur numquam aperiam minima neque eum velit facilis totam quia
            ipsam doloremque, suscipit repellendus. Voluptatibus voluptatum
            ipsam ratione sequi vitae sed laudantium eligendi. Obcaecati.
            Maiores, labore officia! Beatae neque minima a, ullam accusamus
            nemo, consectetur eius debitis quasi aperiam ratione, quaerat
            dignissimos! Nam provident aliquam eaque facilis dolor quae
            doloribus quibusdam autem molestiae quisquam!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Exercitationem, ullam? Modi reiciendis, dolorum praesentium fugiat,
            doloribus natus veritatis nesciunt deserunt mollitia voluptatem
            molestiae itaque nisi ipsa labore fugit voluptatum officiis?
        </p>
        <%- include('partials/footer') %>
    </body>
</html>
